#promotions_categories_slider_vamosya{
	height: 142px;
}

#categories_slider_main_container{
	background-color: #E9EBEE;
}

#promotion_categories_container{
	padding-top: 15px;
	padding-bottom: 15px;
}